* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, roboto, sans-serif;
}

body {
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
}
nav {
  width: 100%;
  height: 90px;
  position: fixed;
  justify-content: space-between;
  left: 0;
  top: 0;
  right: 0;
  background: green;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 5%;
}
.logo img {
  max-width: 90px;
  height: auto;
}
ul li {
  display: inline-block;
  margin-left: 50px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: color 0.3s ease;
}
ul li:hover {
  color: black;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
}
ul li a:hover {
  color: black;
}
.icons {
  display: flex;
  font-size: 20px;
  align-items: center;
}
.cart-icon {
  margin-right: 30px;
  position: relative;
}
.cart-icon span {
  position: absolute;
  top: -10px;
  right: -15px;
  font-size: 12px;
  color: green;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
.menu-icon {
  display: none;
}
.order-complete-container {
  height: 300px;
  position: relative;

  margin: 150px 0 60px 0;
}
.order-complete-info {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #41a535;
  padding: 100px 50px;
  text-align: center;
}
.order-complete-info h1 {
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.order-complete-info p {
  font-size: 1rem;
  font-weight: 400;
}
/*footer starts here*/
.footer-section {
  width: 100%;
  background-color: green;
  height: 275px;
  align-content: center;
}
.footer-inner-section {
  display: flex;
  justify-content: space-between;
  margin: 0 8%;
}
.footer-section-1 {
  display: flex;
  flex-direction: column;
}

.footer-section-1 a {
  color: white;
  text-decoration: none;
  font-size: 0.94rem;
  font-weight: 400;
  margin-bottom: 12px;
}
.footer-section-1 p {
  color: white;
  font-size: 0.94rem;
  font-weight: 400;
  margin-bottom: 12px;
}
.footer-section-2 p {
  color: white;
  font-size: 0.9375rem;
  font-weight: 400;
  margin-bottom: 12px;
}
.footer-section-2 {
  display: flex;
  flex-direction: column;
}
.social-div {
  display: flex;
  align-items: center;
  justify-content: left;
}
.social-media h3 {
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 12px;
}
.social-media a {
  height: 32px;
  width: 32px;
  background-color: #fff;
  border-radius: 50%;
  margin-right: 20px;
  text-align: center;

  line-height: 32px;
  color: #41a535;
}
.social-media a i {
  transition: all 0.3s linear;
}
.social-media a:hover i {
  transform: scale(1.2);
}
.game-app {
  display: flex;
}
.google-store {
  width: 100px;
  height: auto;
  background-color: black;
  padding: 10px;
  margin-right: 10px;
  margin-top: 15px;
}
.apple-store {
  width: 100px;
  height: auto;
  background-color: black;
  padding: 10px;
  margin-left: 10px;
  margin-top: 15px;
}

/*footer ends here*/
@media only screen and (max-width: 1024px) {
  /*nav starts here*/
  nav {
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
  }
  ul li {
    margin-left: 45px;
    font-size: 0.94rem;
  }
  .nav-icons {
    font-size: 1.25rem;
    font: weight 300px;
  }
  .logo img {
    max-width: 80px;
    height: auto;
  }
  /*nav ends here*/
  .order-complete-container {
    height: 250px;
    position: relative;

    margin: 150px 0 60px 0;
  }
  .order-complete-info {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #41a535;
    padding: 80px 50px;
    text-align: center;
  }
  .order-complete-info h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .order-complete-info p {
    font-size: 1rem;
    font-weight: 400;
  }
}
@media only screen and (max-width: 850px) {
  nav {
    width: 100%;
    height: 75px;
    margin-bottom: 20px;
    z-index: 999;
  }
  .logo img {
    max-width: 80px;
    height: auto;
  }
  .nav-links {
    background-color: #41a535;
    width: 100%;
    position: absolute;
    top: 75px;
    right: -100%;
    text-align: center;
    height: 50vh;
  }
  .nav-links.active {
    right: 0;
  }

  ul li {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .menu-icon {
    display: block;
  }
  .order-complete-info {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #41a535;
    padding: 65px 50px;
    text-align: center;
  }
  .order-complete-info h1 {
    font-size: 1.125rem;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .order-complete-info p {
    font-size: 0.94rem;
    font-weight: 400;
  } /*footer starts here*/
  .footer-section {
    height: 250px;
  }
  /*footer starts here*/
  .footer-section {
    height: 250px;
  }
  .footer-inner-section {
    margin: 0 7%;
  }

  .footer-section-1 a {
    color: white;
    text-decoration: none;
    font-size: 0.88rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .footer-section-1 p {
    color: white;
    font-size: 0.88rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .footer-section-2 p {
    color: white;
    font-size: 0.88rem;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .social-media h3 {
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 12px;
  }
  .social-media a {
    height: 28px;
    width: 28px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;

    line-height: 32px;
    color: #41a535;
  }
  .social-media a i {
    transition: all 0.3s linear;
  }
  .social-media a:hover i {
    transform: scale(1.2);
  }
  .game-app {
    display: flex;
  }
  .google-store {
    width: 80px;
    height: auto;
    background-color: black;
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;
  }
  .apple-store {
    width: 80px;
    height: auto;
    background-color: black;
    padding: 10px;
    margin-left: 10px;
    margin-top: 15px;
  }

  /*footer ends here*/
}
@media only screen and (max-width: 768px) {
  .shopping-cart span {
    width: 22px;
    height: 22px;
  }
  .logo img {
    max-width: 80px;
    height: auto;
  }
  .order-complete-container {
    height: 225px;
    position: relative;

    margin: 110px 0 50px 0;
  }
  .order-complete-info {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #41a535;
    padding: 40px 50px;
    text-align: center;
  }
  .order-complete-info h1 {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .order-complete-info p {
    font-size: 0.88rem;
    font-weight: 400;
  }
  /*footer starts here*/
  .footer-section {
    height: 225px;
  }
  .footer-inner-section {
    margin: 0 7%;
  }

  .footer-section-1 a {
    color: white;
    text-decoration: none;
    font-size: 0.81rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .footer-section-1 p {
    color: white;
    font-size: 0.81rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .footer-section-2 p {
    color: white;
    font-size: 0.81rem;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .social-media h3 {
    font-size: 0.94rem;
    font-weight: 500;
    color: #fff;
    margin-bottom: 12px;
  }
  .social-media a {
    height: 28px;
    width: 28px;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;

    line-height: 32px;
    color: #41a535;
  }
  .social-media a i {
    transition: all 0.3s linear;
  }
  .social-media a:hover i {
    transform: scale(1.2);
  }
  .game-app {
    display: flex;
  }
  .google-store {
    width: 80px;
    height: auto;
    background-color: black;
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;
  }
  .apple-store {
    width: 80px;
    height: auto;
    background-color: black;
    padding: 10px;
    margin-left: 10px;
    margin-top: 15px;
  }

  /*footer ends here*/
}
@media only screen and (max-width: 600px) {
  nav {
    width: 100%;
    height: 65px;
    margin-bottom: 20px;
    z-index: 999;
  }
  .nav-links {
    background-color: #41a535;
    width: 100%;
    position: absolute;
    top: 65px;
    right: -100%;
    text-align: center;
    height: 50vh;
  }
  .nav-links.active {
    right: 0;
  }
  .logo img {
    max-width: 65px;
    height: auto;
  }
  .nav-icons {
    font-size: 20px;
  }
  .order-complete-container {
    height: 200px;
    position: relative;

    margin: 90px 0 40px 0;
  }
  .order-complete-info {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #41a535;
    padding: 30px 30px;
    text-align: center;
  }
  .order-complete-info h1 {
    font-size: 1rem;
    font-weight: 700;
    padding-bottom: 10px;
  }
  .order-complete-info p {
    font-size: 0.88rem;
    font-weight: 400;
  }
  /*footer starts here*/
  .footer-section {
    width: 100%;
    background-color: #41a535;
    height: auto;
    align-content: center;
  }
  .footer-inner-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 8%;
    align-items: center;
  }
  .footer-section-1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-section-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
  }
  .footer-section-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 40px;
  }
  .social-div {
    display: flex;
    align-items: center;
    justify-content: left;
  }

  /*footer ends here*/
}
