* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins, roboto, sans-serif;
}

body {
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
}

.detailPage {
  margin: 170px 10% 50px 10%;
  display: flex;
  justify-content: space-between;
}
.leftCol {
  flex-basis: 45%;
}
.leftCol img {
  width: 100%;
  height: auto;
}
.rightCol {
  flex-basis: 48%;
  display: flex;
  flex-direction: column;
}
.rightCol h1 {
  font-size: 2rem;
  font-weight: 600;
  color: black;
}
.rightCol h2 {
  font-size: 1.19rem;
  font-weight: 600;
  color: black;
  padding-top: 10px;
}
.rightCol p {
  font-size: 1rem;
  font-weight: 400;
  color: black;
  padding-bottom: 10px;
}
.info-section {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}
.info-section h4 {
  font-size: 0.88rem;
  font-weight: 600;
  text-align: center;
}
.info-section p {
  font-size: 0.88rem;
  font-weight: 400;
  text-align: center;
}
.cart-btn {
  background-color: #41a535;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 20px 0;
  color: #ffffff;
  cursor: pointer;
}
.cart-btn:hover {
  color: black;
  background: green;
}
.mainPage-link {
  margin-top: 30px;
}
.mainPage-link a {
  color: black;
  font-size: 1rem;
  font-weight: 600;
  text-underline-offset: 3px;
}

/*cart page*/
.cart-overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(227, 240, 228);
  opacity: 0.5;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 90px;
}

.cart {
  position: fixed;
  inset-block: 0;
  top: 90px;
  right: 0;
  width: 100%;
  max-width: 450px;
  padding: 20px;

  transition: all 0.3s ease-in-out;
  transform: translateX(100%);
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.cart-overlay.show {
  visibility: visible;
}
.cart.show {
  transform: none;
}
.cart-header {
  position: relative;
  text-align: center;
  padding-block: 10px;
  border-bottom: 1px solid gray;
}
.cart-close {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  cursor: pointer;
}
.cart-body {
  display: grid;
  gap: 20px;
  align-content: start;
  padding-block: 20px;
  overflow: auto;
}
.cart-empty {
  text-align: center;
  padding-block: 20px;
  font-size: 1.25rem;
  color: black;
}
.cart-item {
  display: flex;
  gap: 10px;
}
.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.cart-item-detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.cart-item-detail h3 {
  font-size: 1rem;
  color: #41a535;
  font-weight: 600;
}
.cart-item-detail h5 {
  font-size: 0.88rem;
  color: black;
}
.cart-item-amount {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
}
.cart-item-amount i {
  opacity: 0.25;
  cursor: pointer;
}
.cart-item-amount i:hover {
  opacity: 1;
}
.cart-item-amount.qty {
  width: 2rem;
  text-align: center;
}
.cart-item-price {
  margin-left: auto;
  font-size: 0.88rem;
  font-weight: 600;
}
.remove-btn {
  color: black;
  margin-top: auto;
}

.cart-footer {
  display: flex;
  border-top: 1px solid gray;
}
.cart-footer .cartTotalAmount {
  display: flex;
  justify-content: space-between;
  padding: 7px 0px;
}
.cart-total {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}
.cart-footer strong {
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.cart-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.cart-clear {
  background: #41a535;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 500;
}
.cart-clear:hover {
  background-color: #29881e;
}
.checkout {
  background: #f83513;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  font-weight: 500;
}
.checkout a {
  text-decoration: none;
  color: white;
}
.checkout:hover {
  background: rgb(255, 17, 0);
}
.loader {
  display: none; /* Hide initially */
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media only screen and (max-width: 1024px) {
  .rightCol h1 {
    font-size: 1.75rem;
    font-weight: 600;
    color: black;
  }
  .rightCol h2 {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    padding-top: 10px;
  }
  .detailPage {
    margin: 140px 10% 40px 10%;
    display: flex;
    justify-content: space-between;
  }
  .cart-btn {
    font-size: 1rem;
    font-weight: 500;
  }
}
@media only screen and (max-width: 850px) {
  .rightCol {
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
  }
  .rightCol h1 {
    font-size: 1.5rem;
  }
  .rightCol h2 {
    font-size: 1.1rem;
    padding-top: 8px;
  }
  .rightCol p {
    font-size: 0.94rem;
    padding-bottom: 10px;
  }
  .info-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .info-section h4 {
    font-size: 0.88rem;
    font-weight: 600;
    text-align: center;
  }
  .info-section p {
    font-size: 0.88rem;
    font-weight: 400;
    text-align: center;
  }
  .cart-btn {
    background-color: #41a535;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: 15px 0;
    color: #ffffff;
  }
  .mainPage-link {
    margin-top: 20px;
  }
  .cart-overlay {
    margin-top: 75px;
  }
  .cart {
    top: 75px;
    max-width: 430px;
  }
}
@media only screen and (max-width: 768px) {
  .detailPage {
    margin: 140px 7% 40px 7%;
    display: flex;
    justify-content: space-between;
  }
  .rightCol h1 {
    font-size: 1.4rem;
  }
  .rightCol h2 {
    font-size: 1rem;
    padding-top: 8px;
  }
  .rightCol p {
    font-size: 0.8125rem;
    padding-bottom: 10px;
  }
  .info-section {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .info-section h4 {
    font-size: 0.8125rem;
    font-weight: 600;
    text-align: center;
  }
  .info-section p {
    font-size: 0.8125rem;
    font-weight: 400;
    text-align: center;
  }
  .cart-btn {
    background-color: #41a535;
    text-align: center;
    font-size: 0.88rem;
    font-weight: 500;
    padding: 15px 0;
    color: #ffffff;
  }
  .mainPage-link a {
    color: black;
    font-size: 0.88rem;
    font-weight: 600;
    text-underline-offset: 3px;
  }
  .cart-header h2 {
    font-size: 1.2rem;
  }
  .cart-clear {
    padding: 10px 0;
    font-size: 0.88rem;
    font-weight: 500;
  }

  .checkout {
    padding: 10px 0;
    font-size: 0.88rem;
  }
  .cart {
    top: 75px;
    width: 100%;
    max-width: 400px;
  }
}
@media only screen and (max-width: 600px) {
  .detailPage {
    margin: 120px 7% 40px 7%;
    display: flex;
    justify-content: space-between;
  }
  .rightCol {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }
  .rightCol h1 {
    font-size: 1.4rem;
  }
  .rightCol h2 {
    font-size: 1rem;
    padding-top: 5px;
  }
  .rightCol p {
    font-size: 0.8125rem;
    padding-bottom: 5px;
  }
  .info-section {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .info-section h4 {
    font-size: 0.8125rem;
    font-weight: 600;
    text-align: center;
  }
  .info-section p {
    font-size: 0.8125rem;
    font-weight: 400;
    text-align: center;
  }
  .cart-btn {
    background-color: #41a535;
    text-align: center;
    font-size: 0.88rem;
    font-weight: 500;
    padding: 12px 0;
    color: #ffffff;
  }
  .mainPage-link a {
    color: black;
    font-size: 0.88rem;
    font-weight: 600;
    text-underline-offset: 3px;
  }
  .mainPage-link {
    margin-top: 10px;
  }
  .cart-header h2 {
    font-size: 1rem;
  }
  .cart-header i {
    font-size: 1rem;
  }
  .cart {
    top: 65px;
    width: 100%;
    max-width: 370px;
  }
  .cart-overlay {
    margin-top: 65px;
  }
}
@media only screen and (max-width: 400px) {
  .detailPage {
    margin: 110px 10% 30px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .cart {
    top: 65px;
    width: 100%;
    max-width: 400px;
  }
  .cart-overlay {
    margin-top: 65px;
  }
}
